<!DOCTYPE html>
<head>
   <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
   <meta charset="UTF-8">
   <style type="text/css">
    .center{
         margin:0 auto;
         text-align: center;
}
</style>
</head>
{%  block body %}
    <h5>Accounts:</h5>
    <div>
        <ul class="list-group">
            {% for a in accs %}
                <li class="list-group-item text-center">{{a}}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="center">
        <a href="main" class="btn btn-success">Back</a>
    </div>
{% endblock %}